<div class="box-footer-contain">
    <div class="footer-contain">
        <div class="footer-menu-box row" style="background-color: black; color: white;">
            <div class="col-12 col-lg-1"></div>
            <div class="col-12 col-lg-6">
                <p class="footer-menu-title">CÔNG TY Ô TÔ TOYOTA VIỆT NAM</p>
				<ul class="footer-content-item" style="list-style-type: none;">
					<li style="list-style-type: none;"><span>Số GCNĐKDN: 2500150335</span></li>
					<li style="list-style-type: none;"><span>Cấp lần đầu: Ngày 26/03/2007</span></li>
					<li style="list-style-type: none;"><span>Đăng ký thay đổi lần thứ 16: Ngày 07/05/2018</span></li>
					<li style="list-style-type: none;"><span>Cơ quan cấp: Sở kế hoạch và đầu tư tỉnh Vĩnh Phúc</span></li>
					<li style="list-style-type: none;"><span>Địa chỉ: Phường Phúc Thắng, Thành phố Phúc Yên, Tỉnh Vĩnh Phúc, Việt Nam</span></li>
				</ul>
            </div>
            <div class="col-12 col-lg-5">
                <p class="footer-menu-title">ĐƯỜNG DÂY NÓNG</p>
                <ul class="footer-content-item">
                    <li style="list-style-type: none;">
                        <i class="fas fa-phone-alt"></i>
                        <a style="color: white;" href="tel:1800 1524"><span>1800 1524</span></a>
                    </li>
                    <li style="list-style-type: none;">
                        <i class="fas fa-phone-alt"></i>
                        <a style="color: white;" href="tel:0916 001 524"><span>0916 001 524 </span></a>
                    </li>
                    <li style="list-style-type: none;">
                        <i class="far fa-envelope"></i>
                        <a style="color: white;" href="mailto:tmv_cs@toyotavn.com.vn"><span> tmv_cs@toyotavn.com.vn</span></a>
                    </li>
                    <li style="list-style-type: none;">
                        <a style="color: white;" href="#"><span>Hotline Hỗ trợ tài chính: (84-28) 7309 0998</span></a>
                    </li>
                    <li style="list-style-type: none;">
                        <a style="color: white;" href="#"><span>Hotline Bảo hiểm Toyota: 1900 633 384</span></a>
                    </li>
                </ul>
                <span class="bg-bo_cong_thuong footer-img-certificate"></span>
            </div>
        </div>
        <div class="copry-right-footer" style="text-align: left;">
            <div class="row">
                <div class="col-lg-1 col-12" style="background-color: black; color: white;"></div>
                <p class="col-lg-6 col-md-6 col-12" style="background-color: black; color: white;">
                    <a href="" style="color: white; "><span>Sơ đồ trang</span></a>
                    |
                    <a href="" style="color: white;"><span>Chính sách và điều khoản</span></a>
                    |
                    <a href="" style="color: white;"><span>Chính sách bảo mật thông tin cá nhân</span></a>
                </p>
                <p class="col-lg-5 col-md-5 col-12" style="background-color: black; color: white;">© Bản quyền thuộc về Công ty ô tô Toyota Việt Nam</p>
            </div>
        </div>
    </div>
</div>